
.p-button.p-component.addnewBtn.p-button-text-icon-left{
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
}
body .p-treetable .p-treetable-tbody > tr.p-highlight_custom {
    background-color: #a5a0a00d;
    color: #101010;
}
